<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
</head>
<body>

<div class="container mt-5" style="max-width: 500px;">

    <h2 class="mb-4 text-center">Реєстрація курєра</h2>
        <form method="post">
            {% csrf_token %}

            {{ form.non_field_errors }}

            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}

            <button class="btn btn-dark w-100">
                Зареєструватися
            </button>
        </form>
</div>


</body>
</html>